h1{
  text-align: center;
}
.card-container{
  background-color: white;
  border-radius: 8px;
  border: 2px solid pink;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
  margin: 10px auto;
  max-width: 300px;
}
.add-button{
  background-color:green;
  color: white;
  border-radius: 5px;

}
.del-button{
  margin-left:5px;
  background-color: red;
  color: white;
  border-radius: 5px;
}
